name: test
on:
  push:
    paths:
      - '**.go'
    branches:
      - main
  pull_request:

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: '1.25.x'

      - name: Install ALSA & cross-compile dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libasound2-dev gcc-aarch64-linux-gnu libc6-dev-arm64-cross
          
      - name: test
        run: go test ./...